body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label.tittle {
    padding: 6px 5px;
    margin-bottom: 4px;
    position: relative;
    display: block;
}

span.btncustom {
    border-radius: 5px 5px;
    border: 1px solid #808080;
    height: 26px;
    width: 26px;
    padding: 3px 6px;
    cursor: pointer;
}

    span.btncustom.add {
        background-color: #69c418;
    }

    span.btncustom.del {
        background-color: #a40b0b;
        color: #efeded;
    }

    span.btncustom.edit {
        background-color: #163c97;
        color: #caccca;
    }

    span.btncustom.save {
        background-color: #69c418;
    }

    span.btncustom.refresh {
        background-color: #e1dfdf;
        color: #1d1b1b;
    }

    span.btncustom.reload {
        background-color: #e1dfdf;
        color: #1d1b1b;
    }
