@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Master - CRUD</h1>
    <p class="lead">Aplicacion Web CRUD con APIRest, construida con MVC 5, Web API 2 .Net Framework 4.5, Entity Framework 5, Jquery Ajax, Knockout.js, Javascript y Bootstrap. Utilizando el patron Factory Pattern</p>
    <p class="lead">Modulos: </p>
    <a href="/Home/Ciudades" class="btn btn-primary btn-sm">Ciudades &raquo;</a>
    <a href="/Home/Vendedores" class="btn btn-primary btn-sm">Vendedores &raquo;</a>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")